@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-section1 {
  font-family:'Open Sans' 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color: white;
  background: #2b2b2b;
    
  /* background-image: linear-gradient(45deg,#12C2E9 ,#F64F59); */
  height: calc(100vh - 5rem);
}

.feedback{
  /* background: linear-gradient(to right bottom, #222222, #46334c, #7e3d67, #be426b, #f64f59); */
  background: #2B2B2B;
  color: aliceblue;
  height: calc(100vh - 5rem);
}
.text{
  font-family:'Open Sans' 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
/* @media only screen and (max-width: 640px) {
  .feedback {
    background: white;
  }
} */
